In [1]:
from modul_db import getPairsPrice, connect_db_engine
import pandas as pd
import talib.abstract as ta
import numpy

In [2]:
df = pd.read_csv("./csv/" + "CFXUSDT" + "_0lowna01.csv", decimal=",")

In [3]:
df.head()

,TimeCET,pairs,interval,open,high,low,close,volume,lowma
0,2022-02-28 13:20:00,CFXUSDT,5,0.1384,0.1384,0.1381,0.1383,4110.0,0.0
1,2022-02-28 13:15:00,CFXUSDT,5,0.1376,0.1384,0.1375,0.1384,28977.0,0.0
2,2022-02-28 13:10:00,CFXUSDT,5,0.1379,0.1380,0.1370,0.1377,221768.0,0.0
3,2022-02-28 13:05:00,CFXUSDT,5,0.1383,0.1389,0.1378,0.1379,204098.0,0.0
4,2022-02-28 13:00:00,CFXUSDT,5,0.1389,0.1389,0.1381,0.1383,103466.0,0.0

In [4]:
df['lowma2'] = numpy.nan_to_num(ta.MA(df, timeperiod=200, price='close'))

In [6]:
df.tail()

,TimeCET,pairs,interval,open,high,low,close,volume,lowma,lowma2
6204,2022-02-06 17:05:00,CFXUSDT,5,0.1493,0.1517,0.1485,0.1498,2230803.0,0.143380,0.143380
6205,2022-02-06 17:00:00,CFXUSDT,5,0.1517,0.1518,0.1493,0.1493,789759.0,0.143410,0.143410
6206,2022-02-06 16:55:00,CFXUSDT,5,0.1517,0.1519,0.1512,0.1516,199750.0,0.143452,0.143452
6207,2022-02-06 16:50:00,CFXUSDT,5,0.1512,0.1520,0.1509,0.1516,864506.0,0.143493,0.143493
6208,2022-02-06 16:45:00,CFXUSDT,5,0.1513,0.1523,0.1501,0.1512,1484358.0,0.143533,0.143533